<header>
    <div class="container header__container">
        <a href="{{url_for('home_page.home')}}">
            <img
                src="{{url_for('static',filename='images/logo.svg')}}"
                alt=""
                class="header__logo"
            />
        </a>
        <nav class="header__nav">
            <a href="{{url_for('home_page.home')}}" class="nav__link">Main</a>
            <a href="#!" class="btn nav__link"
                >TRY CHAT
                <img
                    src="{{url_for('static',filename='images/arrow.svg')}}"
                    alt=""
                    class="icon"
            /></a>
            <a href="#!" class="nav__link">Contacts</a>
        </nav>
        <div class="login">
            <a href="#!" class="btn">LOGIN</a>
            <a href="{{url_for('auth_pages.register')}}" class="btn">SIGN UP</a>
        </div>
    </div>
</header>
