



<div class="table">
    <div class="table__grid">
                <div class="table__item list__attribute">Author</div>
                <div class="table__item list__attribute">Date</div>
                <div class="table__item list__attribute">File</div>
                <div class="table__item list__attribute">Status</div>
                <div class="table__item list__attribute">Delete</div>
                <div class="table__item list__attribute">Update</div>
                
                <div class="table__item"> <span class="table__info">Name</span></div>
                <div class="table__item"><span class="table__info">12/12/2024</span></div>
                <div class="table__item"><span class="table__info">abs.csv</span></div>
                <div class="table__item"><span class="table__info">correct</span></div>
                <div class="table__item"><span class="table__info"><a href="#!" class="btn btn-danger btn-table">Delete</a></span></div>
                <div class="table__item"><span class="table__info"><a href="#!" class="btn btn-success btn-table">update</a></span></div>
    
                <div class="table__item"> <span class="table__info">Name</span></div>
                <div class="table__item"><span class="table__info">12/12/2024</span></div>
                <div class="table__item"><span class="table__info">abs.csv</span></div>
                <div class="table__item"><span class="table__info">correct</span></div>
                <div class="table__item"><span class="table__info"><a href="#!" class="btn btn-danger btn-table">Delete</a></span></div>
                <div class="table__item"><span class="table__info"><a href="#!" class="btn btn-success btn-table">update</a></span></div>
    </div>
</div>